/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0;
    background-image: linear-gradient(to right,rgb(155, 224, 244),whitesmoke);
    color: #333;
    line-height: 1.6;
}
  
header {
    color:  #1e3d59;
    padding: 1%;
    text-align: center;
}
  
main {
    padding: 2rem;
}
  
  /* Section Styles */
h2 {
    color: #1c53a6;
    margin-bottom: 1rem;
}
  
.event {
    border-left: 0.5rem solid #1c53a6;
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: -4px 4px 4px 2px rgba(0, 0, 0, 0.245);
}
  
.event h3 {
    margin: 0;
    color: #1c53a6;
}
  
.event p {
    margin-top: 0.5rem;
}

hr{
  border-color:#1e3d59;
}

/* footer nav bar */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:  #1e3d59;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
  }
  
  footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  footer nav ul li {
    margin: 0 1rem;
  }
  
  footer nav ul li a {
    color: white;
    text-decoration: none;
    user-select: none;
  }
  
  footer nav ul li a:hover {
    text-decoration: underline;

  }
